<nav class="subnav">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink routerLink="/import/project" routerLinkActive="active">Import Project</button>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Import File</button>
    </clr-tab>
    <clr-tab>
      <button clrTabLink routerLink="/import/repository" routerLinkActive="active">Import Repository</button>
    </clr-tab>
  </clr-tabs>
</nav>
<div class="content-container">
  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>
