
<h1>Import Project</h1>

<clr-alert clrAlertType="alert-danger" [(clrAlertClosed)]="!importError">
  <clr-alert-item>
        <span class="alert-text">
          {{importError}}
        </span>
  </clr-alert-item>
</clr-alert>

<clr-alert clrAlertType="alert-success" [(clrAlertClosed)]="!importOk">
  <clr-alert-item>
        <span class="alert-text">
          Imported {{model.gav}} successfully
        </span>
  </clr-alert-item>
</clr-alert>

<form #importForm="ngForm" (ngSubmit)="import()">
  <section class="form-block">
    <label>Project Coordinates</label>
    <div class="form-group">
      <label for="groupId">Groud ID</label>
      <input type="text"id="groupId" [(ngModel)]="model.groupId" name="groupId" size="30" required>
    </div>
    <div class="form-group">
      <label for="artifactId">Artifact ID</label>
      <input type="text" id="artifactId" [(ngModel)]="model.artifactId" name="artifactId"size="30" required>
    </div>
    <div class="form-group">
      <label for="version">Version</label>
      <input type="text" id="version"[(ngModel)]="model.version" name="version" size="30" required>
    </div>
  </section>
  <section class="form-block">
    <div class="form-group">
      <label for="gav">GAV</label>
      <input type="text" id="gav" [(ngModel)]="model.gav" name="gav" size="30">
    </div>
    <button class="btn btn-primary" [disabled]="!importForm.form.valid">Import</button>
  </section>
</form>
