<clr-main-container>
  <clr-header>
    <div class="branding">
      <span class="title">Maven-Surfer</span>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
    </main>
    <nav class="sidenav">
      <section class="sidenav-content">
        <clr-tree-node *ngFor="let group of groups">
          <clr-icon shape="blocks-group"></clr-icon> {{group.groupId}}
          <ng-template clrIfExpanded>
            <app-nav-group [groupIdUrl]="group['@id']"></app-nav-group>
          </ng-template>
        </clr-tree-node>
      </section>
    </nav>
  </div>
</clr-main-container>
