<clr-dropdown>
  <a clrDropdownTrigger
     style="color: #007cbb; cursor: pointer;">{{reference.groupId}}:{{reference.artifactId}}</a>
  <clr-dropdown-menu *clrIfOpen>
    <app-project-selector [reference]="reference"></app-project-selector>
  </clr-dropdown-menu>
</clr-dropdown><br>
<ng-container *ngIf="asDependency() != null">
  <span style="margin-left: 2em;">Classifier: {{asDependency().classifier || 'none'}}</span>
  <span style="margin-left: 1em;">Type: {{asDependency().type || 'none'}}</span>
  <span style="margin-left: 1em;">Version range: {{asDependency().versionRange || 'any'}}</span>
  <span style="margin-left: 1em;">Scope: {{asDependency().scope | lowercase}}</span>
  <span style="margin-left: 1em;">{{asDependency().optional ? 'Optional' : ''}}</span>
</ng-container>
