/* You can add global styles to this file, and also import other style files */

nav.sidenav {
  width: 25%;
}

dt {
  display: inline-block;
  width: 8em;
}

dd {
  display: inline;
  margin-left: 0em;
}

dd::after {
  content: "\A";
  white-space: pre;
}
